[Unit]
Description=Volt Federation Server
After=network.target

[Service]
Type=simple
User=volt
WorkingDirectory=/home/bluet/Documents/EIVoltChat/voltchat/Voltage
ExecStart=/usr/bin/node /home/bluet/Documents/EIVoltChat/voltchat/Voltage/microservices/federation.js
Restart=always
RestartSec=10
Environment=NODE_ENV=production
Environment=VOLT_SERVICE=federation

[Install]
WantedBy=multi-user.target
